:root {
    /* --text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    /* --box-shadow: 1px 1px 2px black, 0 0 25px #08afd5, 0 0 5px #4a4a87; */
    /* box-sizing: border-box;
    padding: 0;
    margin: 0; */
    --light-blue: #04B2D9;
    --light: #C4E5F2;
    --dark-blue: #262473;
    --dark: #022626;
    --blue: #372A8C;
    --box-shadow: inset 0px 0px 8px var(--light-blue), 0 0 15px var(--light-blue);
    --text-shadow:  0 0 10px var(--light), 0 0 20px var(--light);
    --hover-shadow: 0px 0px 10px #fff, 0 0 25px var(--light-blue), 0 0 35px var(--light-blue);
}

body {
    background-color: black;
    font-family: 'Courier New', monospace, serif;
    margin: 0;
    font-size: 14px;

}

header {
    padding: 20px;
    background-color: var(--dark);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h1 {
    display: inline-block;
    font-size: 300%;
    text-shadow: var(--text-shadow);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin-left: 25px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

nav a:hover {
    text-shadow: var(--hover-shadow);
    font-size: 120%;
}


.resume:focus::after {
    content: "(Coming Soon)";
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #dc1be2, 0 0 5px #f7056a;

}


.hero {
    height: 150px;
    width: 100%;
    background-image: url("./img/mahdi-bafande-DOhF7USunSM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 50px 50px;
}

main {
    width: 100%;
    display: inline-block;
    background-color: var(--dark);
    border-radius: 50px;
    color: #ffffff;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
} 

section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 175%;
    padding: 70px 0px 80px 80px;
    flex: 1;
}

p {
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    padding: 75px 0px 75px 75px;
    border-left: 3px solid black;
}


figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 3;
    padding-left: 75px;
    border-left: 3px solid black;
    width: 100%;
}

img {
    max-height: 200px;
}
 
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }


.card,
.card-1 {
    display: inline-block;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    padding: 10px;
}

.card {
    flex-basis: 40%;
    position: relative;
    text-align: center;
    color: white;

}

.card-1 {
    flex-basis: 80%;
    position: relative;
    text-align: center;
    color: white;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.info {
    font-size: 20px;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    padding: 100px 0px 100px 75px;
    border-left: 3px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.info ul {
    margin: 0px;
}

/* h3 {
    padding: 0px 50px;
    font-size: 120%;
    display: inline-block;
} */

/* h4 {
    text-align: center;
} */

@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */

    nav,
    header,
    section,
    figure,
    .info {
        flex-direction: column;
    }

    p,
    figure,
    .info {
        border-left: 3px hidden black;
        border-bottom: 3px solid black;

    
    }

    .info {
        padding: 0px 185px 75px 185px;
    }

    h2 {
        padding: 50px 0px;
    
    }
    
    img{
        max-height: 265px;
    }

    figure {
        padding: 0px;
        padding-bottom: 20px;
    }

}

@media screen and (max-width: 420px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    nav,
    
    section {
        flex-direction: column;
    }

    li, .info {
        padding: 5px 100px;
    }

    p {
        padding: 0px 30px 50px 30px
    }
}