:root {
    --light-blue: #04B2D9;
    --light: #C4E5F2;
    --dark-blue: #262473;
    --dark: #022626;
    --blue: #372A8C;
    --box-shadow: inset 0px 0px 8px var(--light-blue), 0 0 15px var(--light-blue);
    --text-shadow: 0 0 10px var(--light-blue), 0 0 20px var(--light-blue);
    --hover-shadow: 0px 0px 10px #fff, 0 0 25px var(--light), 0 0 35px var(--light);
}

body {
    background-color: black;
    font-family: 'Courier New', monospace, serif;
    margin: 0 auto;
    font-size: 14px;
    width: 100%
}

header {
    padding: 20px;
    background-color: var(--dark);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

h1 {
    display: inline-block;
    font-size: 300%;
    text-shadow: var(--text-shadow);
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    list-style-type: none;

}

ul {
    list-style-type: none;
    margin-left: 25px;
}

li {
    display: inline-block;
    margin-left: 25px;

}


nav a,
section a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: var(--text-shadow);

}

nav a:hover,
section a:hover,
.bottom-left:hover,
.bottom-right:hover {
    text-shadow: var(--hover-shadow);
    font-size: 120%;
}


.resume:focus::after {
    content: "(Coming Soon)";
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #dc1be2, 0 0 5px #f7056a;

}


.hero {
    height: 150px;
    width: 100%;
    background-image: url("./img/mahdi-bafande-DOhF7USunSM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 50px 50px;
    position: relative;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-end;

}

.hero .bottom-right {
    color: var(--dark);
    background-color: var(--light);
    padding: 10px;
}

.profile {
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}

main {
    width: 100%;
    display: inline-block;
    background-color: var(--dark);
    border-radius: 50px;
    color: #ffffff;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow);
}

section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

h2 {
    font-size: 175%;
    padding: 70px 0px 80px 80px;
    flex: 1;
}

p {

    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    padding: 75px 0px 75px 75px;
    border-left: 3px solid black;
}


figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 3;
    padding-left: 75px;
    border-left: 3px solid black;
    width: 100%;
}

img {
    max-height: 200px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    font-weight: bolder;
    background-color: var(--dark-blue);
    border-radius: 50px;
    opacity: 80%;
}

.bottom-left {
    position: absolute;
    bottom: 15px;
    left: 25px;
    background-color: var(--dark-blue);
    border-radius: 50px;
    padding: 5px;

}

.bottom-right {
    position: absolute;
    bottom: 15px;
    right: 25px;
    background-color: var(--dark-blue);
    border-radius: 50px;
    padding: 5px;

}



.card,
.card-1 {
    display: inline-block;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    padding: 10px;
    display: flex;
}

.card {
    flex-basis: 40%;
    position: relative;
    text-align: center;
    color: white;

}

.card-1 {
    flex-basis: 80%;
    position: relative;
    text-align: center;
    color: white;
}

.card-img,
.card-img-left,
.card-img-right {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.card-img {
    border-radius: 20px;
}

.card-img-left {

    border-radius: 20px 0px 0px 20px;
}

.card-img-right {
    border-radius: 0px 20px 20px 0px;
}

.card-1 a,
.card a {
    width: 100%;
}

.card:hover,
.card-1:hover,
.card-img-right:hover,
.card-img-left:hover {
    box-shadow: var(--hover-shadow);
    transform: translate3D(0, -1px, 0) scale(1.03);
}

.info {
    font-size: 20px;
    align-items: center;
    flex-wrap: wrap;
    flex: 3;
    padding: 100px 0px 100px 75px;
    border-left: 3px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.info ul {
    margin: 0px;
    text-align: center;
}



@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */

    nav,
    header,
    section,
    figure,
    .info {
        flex-direction: column;
    }

    p,
    figure,
    .info {
        border-left: 3px hidden black;
        border-bottom: 3px solid black;


    }

    .info {
        padding: 0px 185px 75px 185px;
    }

    h2 {
        padding: 50px 0px;

    }

    img {
        /* max-height: 265px; */
    }

    figure {
        padding: 0px;
        padding-bottom: 20px;
    }

    .hero {
        justify-content: center;
    }

}

@media screen and (max-width: 420px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    nav,

    section {
        flex-direction: column;
    }

    li,
    .info {
        display: block;
    }

    p {
        padding: 0px 30px 50px 30px
    }

    .hero {
        justify-content: center;
    }

    html {
        width: fit-content;
    }
}